# 8. iloc와 loc
---

In [2]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

### .iloc[] (Integer-location)
- 'Integer location'의 약자로, **정수 위치(0부터 시작하는 순서)**를 기반으로 데이터를 선택(조회)하는 기능
- df.iloc[행위치, 열위치] 형태로 사용하며, 이름(label)이 아닌 순서(position)로만 작동한다.

**행(ROW) 전체 조회하기**

In [3]:
df.iloc[0] # 0번째 row
# Series가 반환된다.

고객명                  박태근
나이                    35
거주도시                  시흥
주요관심사        Electronics
최근1년_방문빈도             75
평균구매액(만원)             70
고객만족도(점)              78
재구매의사(점)              92
Name: C001, dtype: object

In [4]:
df.iloc[0:5] # 0번째부터 4번째 row까지

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79

**단일 값(데이터) 조회하기**

In [5]:
df.iloc[0, 1] # 0번째 위치의 1번째[나이] 데이터

np.int64(35)

In [6]:
df.iloc[4,2] # 5번 고객의 거주도시 데이터

'구로'

In [7]:
# 그럼 이건 뭘까요?
# 0번째, 1번째 로우의 2번째(거주도시) 데이터
df.iloc[[0,1], 2]

고객ID
C001    시흥
C002    안양
Name: 거주도시, dtype: object

In [8]:
df.iloc[0:3, 4:8] # 0번째부터 4번째 row까지, 3번째부터 7번째 col까지 데이터

      최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001         75         70        78        92
C002         85         92        88        85
C003         95        110        91        88

### .loc[] (Label-location)
- 'Label location'의 약자로, 이름(Label)을 기반으로 데이터를 선택(조회)하는 기능
- 인덱스 이름(예: 'row_A')과 컬럼 이름(예: 'col_X')을 직접 사용

**행(ROW) 전체 조회하기**

In [9]:
df.loc['C001']

고객명                  박태근
나이                    35
거주도시                  시흥
주요관심사        Electronics
최근1년_방문빈도             75
평균구매액(만원)             70
고객만족도(점)              78
재구매의사(점)              92
Name: C001, dtype: object

In [11]:
df.loc['C002']

고객명              이영희
나이                30
거주도시              안양
주요관심사        fashion
최근1년_방문빈도         85
평균구매액(만원)         92
고객만족도(점)          88
재구매의사(점)          85
Name: C002, dtype: object

**단일 값(데이터) 조회하기**

In [12]:
df.loc['C001', '거주도시'] # index 1번에 해당하는 국어

'시흥'

In [13]:
df.loc[['C001','C002'], ['고객명','거주도시']] # index 1번, 2번에 해당하는 국어

      고객명 거주도시
고객ID
C001  박태근   시흥
C002  이영희   안양

In [ ]:
df.loc['C001':'C005', '고객명':'주요관심사'] # index 1번부터 5번까지, 고객명에서 주요관심사까지
# 주의 '주요관심사', 'C005' 포함

      고객명  나이 거주도시        주요관심사
고객ID
C001  박태근  35   시흥  Electronics
C002  이영희  30   안양      fashion
C003  박지성  35   울산          NaN
C004  최민아  40   창원      Fashion
C005  정수빈  28   구로      Fashion