# 9. 조건에 따른 데이터 선택
---
- 데이터프레임에서 특정 조건(참/거짓)을 만족하는 행들만 골라내는 기능

In [ ]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

- 고객중 나이가 30세 이상인 고객

In [3]:
df['나이'] >= 30 # 학생들이 키가 185 이상인지 여부를 True/False로 반환

고객ID
C001     True
C002     True
C003     True
C004     True
C005    False
C006    False
C007     True
C008    False
Name: 나이, dtype: bool

- True에 해당하는 데이터들만 조회 할 수도 있다.

In [6]:
filter = df['나이'] >= 30 # 불리언 시리즈가 리턴됨 간단히말하면 필터라고 생각해도됨.
df[filter] # 나이가 30 이상인 데이터들로만 이루어진 데이터 프레임

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C007  한유진  31   파주          NaN         68         65        77        83

- 필터를 반전시킬 수 있다.

In [7]:
df[~filter] # 나이가 30 이상이 아닌 데이터들로만 이루어진 데이터 프레임

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C008  강민호  29   일산       Sports         98        125        96        90

In [9]:
# 다음과 같이 한줄로 줄여서 사용 할 수 있다.
df[df['나이'] >= 30]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C007  한유진  31   파주          NaN         68         65        77        83

loc와 응용해서 사용하기
- 보통 조건에 따라 원하는 데이터들만 보기위해 많이 사용한다.

In [11]:
df.loc[df['나이'] >= 30, '고객명'] # 나이가 30 이상인 고객들의 고객명 데이터

고객ID
C001    박태근
C002    이영희
C003    박지성
C004    최민아
C007    한유진
Name: 고객명, dtype: object

In [15]:
df.loc[df['나이'] >= 30, ['고객명', '나이', '거주도시']]

      고객명  나이 거주도시
고객ID
C001  박태근  35   시흥
C002  이영희  30   안양
C003  박지성  35   울산
C004  최민아  40   창원
C007  한유진  31   파주

Quiz
- 평균구매액(만원)이 100만원 이상인 사람들의 고객명과 나이를 조회해보자

In [17]:
filter = df['평균구매액(만원)'] >= 100

df.loc[filter, ['고객명', '나이']]

      고객명  나이
고객ID
C003  박지성  35
C004  최민아  40
C008  강민호  29

## 다양한 문법을 활용한 조건 설정

**& 엔드 조건**
- 평균구매액이 90만원 이하 이고 재구매의사(점)이이 85 이상인 고객 데이터(전부)조회하기

In [20]:
df.loc[(df['평균구매액(만원)'] <= 90) & (df['재구매의사(점)'] >= 85)]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92

**| or 조건**
- 나이가 25살 미만이거나 35이상인 고객 데이터를 조회하기

In [21]:
df.loc[(df['나이'] < 25) | (df['나이'] >= 35)]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96

**String 함수**

**startwith()**
- 문자열이 특정 글자로 시작하는지 확인하는 메서드 (특정글자로 시작하면 True 아니면 False)

In [23]:
filt = df['고객명'].str.startswith('최') # 고객명이 최씨인사람
df[filt]

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C004  최민아  40   창원  Fashion         92        105        82        96

**isin()**
- 각 데이터가 특정 값 목록(리스트)에 포함되어 있는지 확인하는 메서드

In [31]:
interests = ['Fashion', 'Sports']
filt = df['주요관심사'].isin(interests) 

df.loc[filt]

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C004  최민아  40   창원  Fashion         92        105        82        96
C005  정수빈  28   구로  Fashion         82         88        94        79
C008  강민호  29   일산   Sports         98        125        96        90

In [ ]:
# 소문자 f를 같이 조회하기 위해서는 전처리가 필요하다. 필터링을할때 다음과 같이 할 수 있다.
interests = ['fashion', 'sports']
filt = df['주요관심사'].str.lower().isin(interests) # 필터링할때 전부 소문자로 전처리한 후 isin으로 비교교

df.loc[filt]

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C002  이영희  30   안양  fashion         85         92        88        85
C004  최민아  40   창원  Fashion         92        105        82        96
C005  정수빈  28   구로  Fashion         82         88        94        79
C008  강민호  29   일산   Sports         98        125        96        90

**contains()**
- 문자열이 특정 글자가 포함되는지 확인하는 메서드 (특정글자로 포함되면 True 아니면 False)

In [ ]:

filt = df['고객명'].str.contains('태') # 이름에 '태'가 들어간사람
df[filt]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C006  윤태영  27   시흥  Electronics         88         95        85        91

In [ ]:
df[~filt] # 이름에 태가 안들어간사람

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C002  이영희  30   안양  fashion         85         92        88        85
C003  박지성  35   울산      NaN         95        110        91        88
C004  최민아  40   창원  Fashion         92        105        82        96
C005  정수빈  28   구로  Fashion         82         88        94        79
C007  한유진  31   파주      NaN         68         65        77        83
C008  강민호  29   일산   Sports         98        125        96        90

- contains()을 사용할때 주의할점
    - 만약 데이터가 NaN으로 되어있다면 문제가 발생 할 수 있다.

In [36]:
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

In [42]:
filter = df['주요관심사'].str.contains('Sports') # 값이 NaN일경우 NaN으로 결과가 나오는 것을 볼 수 있다.

filter

고객ID
C001    False
C002    False
C003      NaN
C004    False
C005    False
C006    False
C007      NaN
C008     True
Name: 주요관심사, dtype: object

In [ ]:
# Cannot mask with non-boolean array containing NA / NaN values NA 빈값이나 NaN 값이 있으면 문제 발생
df.loc[filter]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [45]:
filter = df['주요관심사'].str.contains('Sports', na=True) # NaN 데이터에 대해 True로 설정

filter

고객ID
C001    False
C002    False
C003     True
C004    False
C005    False
C006    False
C007     True
C008     True
Name: 주요관심사, dtype: bool

In [46]:
df[filter]

      고객명  나이 거주도시   주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C003  박지성  35   울산     NaN         95        110        91        88
C007  한유진  31   파주     NaN         68         65        77        83
C008  강민호  29   일산  Sports         98        125        96        90