# 11. 데이터 전처리
---
## 결측값 처리
- 데이터 분석에서 결측값은 종종 문제를 발생시킬 수 있으므로 미리 처리해야한다.
- pandas는 결측값을 처리하기 위한 여러 방법을 제공한다.

In [9]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

**결측값 제거 `dropna()`**
- 결측치(NaN, Not a Number)를 행또는 열 기준으로 제거해주는 기능
- 원본에는 영향을 끼치지 않고, 새로운 DataFrame이 반환된다.

In [10]:
df.dropna()

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C008  강민호  29   일산       Sports         98        125        96        90

**how**
- 행이나 열의 값들이 얼마나 결측치여야 제거할지 결정
- 행기준(axis=0)이 기본값으로 조건에 부합시 그행을 제거함.
    - any : 하나라도 NaN이면 제거 (기본값)
    - all : 전부 NaN이어야 제거

In [12]:
df.dropna(how='any')

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C008  강민호  29   일산       Sports         98        125        96        90

In [ ]:
# numpy : 파이썬에서 수치 계산을 빠르고 효율적으로 수행하기 위해 사용하는 라이브러리리
import numpy as np
# 모든 값이 NaN인 행 추가
df.loc['C009'] = np.nan
df

      고객명    나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35.0   시흥  Electronics       75.0       70.0      78.0      92.0
C002  이영희  30.0   안양      fashion       85.0       92.0      88.0      85.0
C003  박지성  35.0   울산          NaN       95.0      110.0      91.0      88.0
C004  최민아  40.0   창원      Fashion       92.0      105.0      82.0      96.0
C005  정수빈  28.0   구로      Fashion       82.0       88.0      94.0      79.0
C006  윤태영  27.0   시흥  Electronics       88.0       95.0      85.0      91.0
C007  한유진  31.0   파주          NaN       68.0       65.0      77.0      83.0
C008  강민호  29.0   일산       Sports       98.0      125.0      96.0      90.0
C009  NaN   NaN  NaN          NaN        NaN        NaN       NaN       NaN

In [18]:
df.dropna(how = 'all')

      고객명    나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35.0   시흥  Electronics       75.0       70.0      78.0      92.0
C002  이영희  30.0   안양      fashion       85.0       92.0      88.0      85.0
C003  박지성  35.0   울산          NaN       95.0      110.0      91.0      88.0
C004  최민아  40.0   창원      Fashion       92.0      105.0      82.0      96.0
C005  정수빈  28.0   구로      Fashion       82.0       88.0      94.0      79.0
C006  윤태영  27.0   시흥  Electronics       88.0       95.0      85.0      91.0
C007  한유진  31.0   파주          NaN       68.0       65.0      77.0      83.0
C008  강민호  29.0   일산       Sports       98.0      125.0      96.0      90.0

**subset**
- 결측치를 검사할 특정 열을 지정한다. 지정된 열에 결측치가 있을때만 행을 제거한다.''

In [ ]:
# 시나리오 : 주요관심사가 없는(NaN) 고객은 분석에서 제외하고싶다.
df.dropna(subset='주요관심사')

      고객명    나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35.0   시흥  Electronics       75.0       70.0      78.0      92.0
C002  이영희  30.0   안양      fashion       85.0       92.0      88.0      85.0
C004  최민아  40.0   창원      Fashion       92.0      105.0      82.0      96.0
C005  정수빈  28.0   구로      Fashion       82.0       88.0      94.0      79.0
C006  윤태영  27.0   시흥  Electronics       88.0       95.0      85.0      91.0
C008  강민호  29.0   일산       Sports       98.0      125.0      96.0      90.0

**결측값 대체 `fillna()`**
- 결측치(NaN, Not a Number)를 특정 값이나 방식으로 채워주는 기능
- 원본에는 영향을 끼치지 않고, 새로운 Data Frame이 반환된다.

In [11]:
df.fillna('') # NaN 데이터를 빈 칸으로 채움

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산                      95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주                      68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

In [3]:
df.fillna(0)

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산            0         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주            0         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

In [ ]:
# dataFrame 전체에 적용된다는 것을 보여주기 위해 임시로 한행을 NaN으로 변경경
import numpy as np
# np.nan : 해당 데이터를 전부 NaN으로 채움
df['거주도시'] = np.nan # 학교 데이터를 NaN으로 채움
df

      고객명  나이  거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   NaN  Electronics         75         70        78        92
C002  이영희  30   NaN      fashion         85         92        88        85
C003  박지성  35   NaN          NaN         95        110        91        88
C004  최민아  40   NaN      Fashion         92        105        82        96
C005  정수빈  28   NaN      Fashion         82         88        94        79
C006  윤태영  27   NaN  Electronics         88         95        85        91
C007  한유진  31   NaN          NaN         68         65        77        83
C008  강민호  29   NaN       Sports         98        125        96        90

In [ ]:
# 이렇게 전체 NaN값에 대해 적용된다.
df.fillna('몰라요')

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35  몰라요  Electronics         75         70        78        92
C002  이영희  30  몰라요      fashion         85         92        88        85
C003  박지성  35  몰라요          몰라요         95        110        91        88
C004  최민아  40  몰라요      Fashion         92        105        82        96
C005  정수빈  28  몰라요      Fashion         82         88        94        79
C006  윤태영  27  몰라요  Electronics         88         95        85        91
C007  한유진  31  몰라요          몰라요         68         65        77        83
C008  강민호  29  몰라요       Sports         98        125        96        90

### 중복 데이터 처리
**중복값 확인 `duplicated()`**

In [21]:
data = {'Name': ['Alice', 'Bob', 'Alice', 'David'],
        'Age': [25, 30, 25, 40]}

df = pd.DataFrame(data)

# 중복값 확인
print(df.duplicated())

0    False
1    False
2     True
3    False
dtype: bool

**중복값 제거 `drop_duplicates()`**

In [22]:
# 중복값 제거
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

    Name  Age
0  Alice   25
1    Bob   30
3  David   40

### 데이터 정렬

**값을 기준으로 정렬 `sort_values()`**
- 특정 열의 값을 기준으로 데이터를 정렬할 수 있다.
- 기본적으로 오름차순으로 정렬되며, 내림차순은 accending=False 옵션을 사용한다.

In [ ]:
# 데이터 프레임임 초기화
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

In [27]:
# df.sort_values(by='나이') # 오름차순

df.sort_values(by='나이', ascending=False) # 내림차순

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C004  최민아  40   창원      Fashion         92        105        82        96
C001  박태근  35   시흥  Electronics         75         70        78        92
C003  박지성  35   울산          NaN         95        110        91        88
C007  한유진  31   파주          NaN         68         65        77        83
C002  이영희  30   안양      fashion         85         92        88        85
C008  강민호  29   일산       Sports         98        125        96        90
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91

**인덱스를 기준으로 정렬 `sort_index()`**

In [30]:
df.sort_index(ascending=False)

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C008  강민호  29   일산       Sports         98        125        96        90
C007  한유진  31   파주          NaN         68         65        77        83
C006  윤태영  27   시흥  Electronics         88         95        85        91
C005  정수빈  28   구로      Fashion         82         88        94        79
C004  최민아  40   창원      Fashion         92        105        82        96
C003  박지성  35   울산          NaN         95        110        91        88
C002  이영희  30   안양      fashion         85         92        88        85
C001  박태근  35   시흥  Electronics         75         70        78        92